Source: ros-melodic-camera-umd
Section: misc
Priority: extra
Maintainer: Ken Tossell <ken@tossell.net>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-camera-umd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-jpeg-streamer, ros-melodic-uvc-camera
Description: UMD camera metapackage
